.aside{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f8fe;
    height: 60vh;
    width: 100%;
  }

  .cardContainer {
    position: relative;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    width: 80%;
    border: 1px solid #ddd;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease-in-out;
    border-radius: 30px;
  }

  .content{
    text-align: center;
    padding: 50px;
    background: #fff;
    display: flex;
    flex-direction: column;
    gap:.3rem;
  }

  .content h3{
    font-size: 40px;
    font-weight: 900;
  }
